* {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #1ed760;
    width: 100vw;
    height: 70px;
    top: 0;
    position: absolute;
    display: flex;
}

header h1 {
    color: white;
    margin: 15px 0px 0px 15px;
}

header img {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 10px 10px 0px 0px;
}

main {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main img {
    width: 200px;
    height: 200px;
}

footer {
    width: 100vw;
    height: 80px;
    background-color: black;
    position: absolute;
    bottom: 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

footer span h3, footer span h4 {
    margin: 0;
}

footer img {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.player-control {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#info {
    display: flex;
}

#info span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#player {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}